---
import SocialList from "@/components/SocialList";
import PageLayout from "@/layouts/Base";

const meta = {
	title: "About",
	description: "About George Spanos",
};
---

<PageLayout meta={meta}>
	<article class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			My name is George Spanos and I'm Software Engineer with some 8 years of experience who
			recently started his own <a href="https://moby-it.com" class="text-accent" target="_blank"
				>venture.</a
			>
		</p>
		<p>
			I usually tend to speak a lot, especially when I talk about things I'm excited about.
			Nevertheless, when writing, I try to be as concise as possible. Growing up, I've found myself
			appreciating more and more when text tries to nudge me to think rather than screaming about
			it. This page, hopefully, has the most words in this blog.
		</p>
		<p>
			I was typically one of the "math kids" in any class growing up. I remember joking with my mom
			about taking a break when studying for school; I was saying:
			<blockquote>- "I'm going to take a break and do some math, if that's ok."</blockquote>
			<blockquote>- "No problem!", she was happily saying, of course!</blockquote>
			<br />
			 Having solid foundations, High school was a nice experience, and I managed to score quite
			well in the exams. In 2011, I started studying Applied Mathematics and Physics at National
			Technical University of Athens (NTUA). I really wanted to study at NTUA. As a math kid, I felt
			that was the place, and engineering was something that grew in the family.
		</p>
		<p>
			It was tough keeping up with NTUA. NTUA is usually more than a full-time job if you want to
			finish your studies within 6 years, and I did not have the luxury of not having a job while
			growing up. My primary side income was teaching. I've been teaching math and physics to high
			school kids for about 8 years. It was always a delightful experience, and I think I was pretty
			good at it. To this day I still think that <em>
				teaching shaped the way that my mind works.</em
			>
		</p>
		<p>
			But teaching was not enough of an income, and I could not stand working at another café. Then
			a friend of mine told me, "Hey, this WordPress thing sounds useful, and I think you'd like
			it.". The next thing I knew, I started creating ugly websites and making some side income. But
			it was not enough for me. When I wrote my first lines of code, I just wanted more. And above
			all, I wanted to deeply understand what I was doing.
		</p>
		<p>
			After that point, it was clear to me that programming was my dream-job. For the first 2 years
			of In my career, I'm starting with Front End Development and Angular. Specifically, I was
			creating websites for US start-ups until I finally decided that I wanted to work for a
			Software Company, just for the sake of learning more.
		</p>
		<p>
			Fast-forward 7 years, and I'm more in love with software than ever. I barely consider it a job
			sometimes. For us programmers I resonate with the phrase that goes something like this: "We
			are hobbyists that happened to work". I love the creativity of programming and engineering,
			and I'm very appreciative of the opportunity to create things that are useful and that anyone
			can experience digitally.
		</p>
		<p>
			While I've worked primarily on the Front End, I consider myself a Web Programmer. I have a
			deep affinity for the web as a platform, trying to learn all its neat features and always
			staying up-to-date. I also consider myself a generalist; I always enjoy learning horizontally
			rather than than vertically.
		</p>
		<p>
			Nowdays I try to bootstrap my own Software Company, <a
				class="text-accent"
				href="https://moby-it.com"
				target="_blank">Moby IT</a
			>. Moby IT is a hub of creatives and programmers that love creating digital products. Through
			Moby, I want to push the boundaries of what I can provide. I want to create and organize teams
			of people that love programming and designing digital products. While there's no product that
			is single-handedly important for us right and there is no reveanue yet, now but there are a
			couple of them in the making.
		</p>
		<p>For all people in the team, except me, Moby is something that they do in</p>
		<p>Thank you for reading this through. I hope we connect in some way.</p>
		<p>George Spanos - Moby IT</p>
		<SocialList />
	</article>
</PageLayout>
