---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { getAllPosts, sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const cactusTech: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "HTML/CSS",
		desc: "Yes, it's a technology. Go learn your semantics!",
		href: "https://html.spec.whatwg.org/",
	},
	{
		title: "JavaScript/TypeScript",
		desc: "If smoking was a software tool.",
		href: "https://astro.build",
	},
	{
		title: "Golang",
		desc: "Considerably better than smoking.",
		href: "https://go.dev/",
	},
	{
		title: "Docker",
		desc: "Containerize everything. Linux is amazing.",
		href: "https://www.docker.com/",
	},
	{
		title: "Postgres",
		desc: "Does not break that easy, so not a huge fan.",
		href: "https://www.postgresql.org/",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<p class="mb-4">
			Hello, I'm George Spanos, Software Engineer and Founder of <a
				class="cactus-link"
				href="https://moby-it.com"
				target="_blank">Moby IT</a
			>. This blog is about me, thinking out loud. Topics usually include software, entrepreneurship
			and self-reflecting. I need to spend time with all three for the sake of sanity. I also find
			it hard to stay serious for extended periods of time.
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Technologies</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				cactusTech.map(({ href, title, desc }) => (
					<li>
						<a
							href={href}
							target="_blank"
							rel="noopener noreferrer"
							class="cactus-link inline-block"
						>
							{title}
						</a>
						: <p class="inline-block sm:mt-2">{desc}</p>
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
